In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
from sklearn.metrics import mean_squared_error

data = pd.read_csv('../Downloads/diabetes.csv')

In [106]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [107]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [108]:
data.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [109]:
X = data.drop('Outcome', axis=1)
y = data['Outcome']

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [112]:
#AS A CLASSIFIER PROBLEM

classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)

In [113]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [114]:
Y_pred= classifier.predict(X_test)
print(Y_pred)

[1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 1
 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 1 0 0 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 1 1 0 1 0 1 1 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 1 1 0 1 0 0 1 0 0 0
 0 0 0 0 0 0 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0
 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 0 0 0 0 1]

In [115]:
print(metrics.accuracy_score(y_test, Y_pred))
print(metrics.f1_score(y_test, Y_pred, average='weighted'))

0.7489177489177489
0.7424617365072075

In [119]:
#AS A REGRESSION PROBLEM

regress = KNeighborsRegressor(n_neighbors=8, metric='minkowski', p=2)

In [120]:
regress.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                    weights='uniform')

In [121]:
prediction = regress.predict(X_test)
print(prediction)

[1.    0.25  0.    0.75  0.125 0.    0.5   0.875 0.5   0.375 0.625 1.
 0.5   0.    0.25  0.125 0.75  0.    0.625 0.25  0.5   0.25  0.125 0.25
 0.    0.    0.    0.75  0.    0.125 0.75  0.25  0.25  0.625 0.125 0.875
 0.625 0.125 0.25  0.5   0.25  0.    0.125 1.    0.75  0.    0.375 0.25
 0.125 0.375 0.5   0.25  0.625 0.625 0.375 0.25  0.125 0.25  0.125 0.125
 0.75  0.5   0.    0.5   1.    0.875 0.875 0.375 0.625 0.25  0.25  0.25
 0.25  1.    1.    0.25  0.125 0.625 0.125 0.125 0.5   0.25  0.125 0.
 0.125 0.    0.5   0.375 0.875 0.125 0.375 0.25  0.125 0.    0.5   0.25
 0.25  0.5   0.25  0.75  0.25  0.125 0.25  0.125 0.25  0.375 0.125 0.125
 0.    0.875 0.    0.375 0.5   0.25  0.625 0.75  0.25  0.625 0.125 0.75
 0.625 0.625 0.25  0.375 0.125 0.    0.375 0.625 0.625 1.    0.375 0.
 0.125 0.75  0.125 0.5   0.25  0.25  0.625 0.625 0.    0.625 0.    0.
 0.625 0.    0.125 0.25  0.    0.    0.    0.375 0.125 0.375 0.75  0.125
 0.75  0.    0.375 0.625 0.75  0.75  0.125 0.    1.    0.25  0.    0.25
 0.375 0.25  0.    0.    0.125 0.5   0.5   0.    0.125 0.    0.25  0.
 0.125 0.75  0.125 1.    0.125 0.    0.5   0.25  0.375 0.125 0.5   0.25
 0.    0.125 0.    0.5   0.625 0.5   0.    0.25  0.25  0.25  0.125 0.5
 0.125 0.    0.125 0.    0.5   0.    0.    0.    0.375 0.375 0.25  0.
 0.375 0.25  0.375 0.375 0.    0.    0.375 0.25  0.5   0.5   0.625 0.
 0.125 0.125 0.875]

In [123]:
regress.score(X_test, y_test)*100

17.703267558960235

In [127]:
mse = mean_squared_error(y_test, prediction)
print(mse)
rmse = math.sqrt(mse)
print(rmse)

0.17918019480519481
0.42329681643640416